{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
<h3 class="mt-3"><i class="fa-solid fa-certificate"></i>Introduction to Generative AI Learning Path- Google Cloud(2025)</h3>
    <div class="container-fluid">
        <h6><i class="bi bi-chevron-right"></i>Completed the Introduction to Generative AI learning path from Google Cloud, gaining foundational knowledge of generative AI,
            large language models, and responsible AI practices.</h6>
        <img src="/media/AI.png" class="mx-2 my-2" width="650px" height="400px">
    </div>
<h3 class="mt-3"><i class="fa-solid fa-certificate"></i>Research Paper Presentation – ICCIDT 2K25 </h3>
    <div class="container-fluid">
        <h6><i class="bi bi-chevron-right"></i>Presented my research paper “Tweet Pulse: Interactive Sentiment Dashboard with Advanced Analytics” at the 7th ICCIDT 2K25 international conference hosted by the Department of Computer Science and Engineering, Mangalam College of Engineering.</h6>
    <img src="/media/mangalam.jpg" class="mx-2 my-2" width="650px" height="400px">
    </div>
<h3 class="mt-3"><i class="fa-solid fa-certificate"></i>Technogenesis Hackathon(2024)</h3>
    <div class="container-fluid">
        <h6 class="mb-5"><i class="bi bi-chevron-right"></i>Participated actively and presented a project called 'ParkEase' in the hackathon held by IEDC SSET.</h6>
    </div>
</div>
{% endblock %}