{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
<div class="container-fluid w-75 p-3 border border-dark">
<table class="table table-bordered text-light" height="350px" width="75%">
    <thead>
    <tr>
    <th>Name of Institution</th>
    <th>Education level</th>
    <th>Percentage/Equivalent CGPA</th>
    </tr>
    </thead>
    <tbody class="text-center align-middle ">
    <tr>
        <td>Carmel High School</td>
        <td>High School(2018-19)</td>
        <td>90%</td>
    </tr>
    <tr>
        <td>Carmel Higher Secondary School</td>
        <td>Higher Secondary(2019-21)</td>
        <td>97%</td>
    </tr>
    <tr>
        <td>UG</td>
        <td>BTech in Computer Science and Engineering(2021-25)</td>
        <td>6.40</td>
    </tr>
    </tbody>
</table>
</div>
</div>
{% endblock %}