{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <img src="{% static 'media/pp.jpg' %}" class="img-fluid rounded-circle d-block my-3" height="400px" width="400px" alt="My Photo">
        </div>
        <div class="col-6 justify-content-center align-items-center">
            <h1 class="me-5 my-3 mt-5 display-2">Ajith M Joshy</h1>
            <h3 class="me-5 mt-2 mb-5">Full Stack Python Developer</h3>
            <h5 class="mt-5"><i class="bi bi-envelope">  : ajithmechery11@gmail.com</i></h5>
            <a href="https://www.linkedin.com/in/ajith-m-joshy" class="btn btn-outline-light rounded-pill py-3 px-4 mt-3 mx-2 justify-content-center">LinkedIn <i class="bi bi-linkedin"></i></a>
            <a href="{% url 'download_cv' %}" class="btn btn-outline-light rounded-pill py-3 px-4 mt-3 justify-content-center">Download Resume</a>
            <a href="https://github.com/ajith-joshy" class="btn btn-outline-light rounded-pill py-3 px-4 mt-3 mx-2 justify-content-center">Github <i class="bi bi-github"></i></a>
        </div>
    </div>
    <div class="container-fluid justify-content-center align-items-center">
    <h1 class="my-3">Myself</h1>
    <p style="text-align:justify;">I am a passionate Full Stack Web Developer who is deeply interested in contributing to complete software development and deployment processes.
        Graduated in 2025 with a B.Tech in Computer Science and Engineering, I am constantly learning new technologies in this fast-moving digital world,
        where companies seek individuals who can deliver meaningful impact. With a strong foundation in programming, database management, analytical thinking,
        and UI/UX design, I am confident that I can bring value to any team I become a part of.</p>
        </div>
</div>
{% endblock %}